.file-uploader-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.file-input {
  margin-bottom: 35px;
}

.upload-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #0056b3;
}

.file-info {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}